*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    z-index: 1;
    font-family: 'Poppins',sans-serif;
    line-height: 1.5em;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

body::before{
    content: '';
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    background-image: linear-gradient(rgba(56,56,132,0.8),rgba(56,56,132,0.8)),url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

h1{
    margin-top: 80px;
    line-height: 1.7px;
    font-weight: 380;
    font-size: 36px;
    margin-bottom: 25px;
}

p{
    font-style: italic;
    margin-bottom: 30px;
    font-weight: 390;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

form{
    display: block;
    width: 700px;
    margin: auto 150px auto 150px;
    text-align: center;
    border-radius: 5px;
    background: rgba(38,38,66,0.8);
    padding: 20px;
}

label{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-input{
    display: block;
    width:100%;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    border-radius: 2.5px;
    border: 0px;
    margin: 0;
    padding: 0.375rem 0.75rem;

}

select{
    height: 2.3rem;
}

textarea{
    display: block;
    line-height: inherit;
    font-size: 15px;
    width: 100%;
    height: 110px;
    padding: 0.65rem;
}

.button{
    display: block;
    cursor: pointer;
    width: 100%;
    background: #31A55A;
    color: white;
    border: 0px;
    font-size: 15px;
    border-radius: 1.5px;
    margin-top: 15px;
    padding: 12px;
}

div{
    margin: 25px;
}


.check, .radio{
   margin-right: 10px;
}
