

body{
    text-align: center;
    position: relative;
    z-index: 1;
}

body::before{
    content: '';
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    background-image: linear-gradient(rgba(101,101,175,0.5),rgba(101,101,175,0.5)),url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}
